
<div id="splash_background">
	<%= image_tag('SPLASH/splash_bg.jpg', :class => 'splash_bg', :alt => 'LyricsNMusic') %>
</div>

<div id="splash_content">
	<div id="splash_image">
		<%= image_tag('SPLASH/splash_image.png', :class => 'splash_image', :alt => 'LyricsNMusic') %>
	</div>
	<div id="splash_form">
    <% if !flash[:success] %>
		<%= image_tag('SPLASH/splash_image_info.jpg', :class => 'splash_image_info', :alt => 'LyricsNMusic') %>		
	<% end %>
<%= form_for(:invite) do |f| %>

	<% if @invite && @invite.errors.any? %>
	<div id="error_explanation">
			<span class="errMsg"><%= @invite.errors.full_messages.first %></span>
	</div>
	<%= f.text_field(:email, :size => '30', :class => 'splash_email_field') %>
	<%= f.hidden_field(:email_sent, :value => 'no') %>
	<%= image_submit_tag("SPLASH/splash_button_go.png", :class => 'splash_button') %>

	<%elsif flash[:success] %>
		<br/>
		<p class="successText">
		<%= flash[:success] %><br/>
		</p>		
		<span class="successText_small">Share this with your friends</span><br/><br/>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style" style="border:0; text-decoration:none; padding:0; margin: 0;" addthis:url="http://lyricsnmusic.com" addthis:title="Just signed up for a cool Lyric site that is launching soon - Join me!">
			<a class="addthis_button_preferred_2" style="padding:0;margin:0;float:none"><%= image_tag('SPLASH/splash_icon_t.jpg', :style => 'width:26px; margin-right: 2px;vertical-align:middle') %></a>
			<a class="addthis_button_preferred_1" style="padding:0;margin:0;float:none"><%= image_tag('SPLASH/splash_icon_fb.jpg', :style => 'width:26px;vertical-align:middle') %></a>
				<%= mail_to "yourfriend@address.com", image_tag('SPLASH/splash_icon_email.jpg', :class => 'splash_icons', :style => 'vertical-align:middle'), :subject => "Check out LyricsNMusic.com", :body => "Hey I just signed up for a cool Lyric site that is launching soon! Join me! http://lyricsnmusic.com/"%>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4d77ae441972215a"></script>
		<!-- AddThis Button END -->
	<% else %>
		<%= f.text_field(:email, :size => '30', :class => 'splash_email_field') %>
		<%= f.hidden_field(:email_sent, :value => 'no') %>
		<%= image_submit_tag("SPLASH/splash_button_go.png", :class => 'splash_button') %>
	<% end %>
<% end %>
<% if !flash[:success] %>
	<%= link_to image_tag('SPLASH/splash_icon_t.jpg', :class => 'splash_icons'), "http://twitter.com/LyricsnnMusic", :target => "_blank" %>		
	<%= link_to image_tag('SPLASH/splash_icon_fb.jpg', :class => 'splash_icons'), "http://www.facebook.com/pages/Lyrics-N-Music/129045307163582?sk=info", :target => "_blank" %>
<% end %>
	</div>
</div>	
