<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<!-- IGNORE Google Analytics -->
<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-21697091-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(ga, s);
 })();
</script>				

<title>LyricsNMusic | <%= @title %></title>
<meta property="og:title" content="Just signed up for a cool Lyric site that is launching soon - Join me!"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://lyricsnmusic.com" />
<meta property="og:site_name" content="LyricsNMusic" />

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.10.custom.min', 'jquery-placeholder.js', 'application' %>
</head>
<body>
<%= yield %>
<script type="text/javascript">
//JQUERY PLACEHOLDER	
$("#invite_email").placeHolder({
	"text": "Your Email Address",
	"active": "#206648",
	"placeholder": "#206648"
});

//ADDTHIS TWITTER TEMPLATE
var addthis_share = {
  templates: { twitter: '{{title}} {{url}} @Lyricsnnmusic' }
}


</script>		
</body>
</html>
